@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Iqan Shaikh (513548)<br />
    ASOS - 2nd floor, C Wing<br/>
    ISH building<br />
    Hinjawadi Ph-1<br/>
    Pune<br />
    <abbr title="Phone">P:</abbr>
    7878078505
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Iqan.Shaikh@cognizant.com">Iqan.Shaikh@cognizant.com</a><br />
</address>